/******************************************************************* STYLE Of BODY */
body{
    width: 100%;
    overflow-x: hidden;
    max-width: fit-content;
    background-color: #e1b382; /* Light grey background */
    color: #03191e; /* Dark grey text */
    background-image: url("images/wallpaper.jpg"); /* Set the background image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-attachment: fixed; /* Make the background image fixed */
    font-family: 'Helvetica', sans-serif; /* Use a sans-serif font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    animation: fadeIn 1.5s ease-in-out forwards;
    }

    #back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #2e7acbc1;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s, transform 0.3s;
    }
    
    #back-to-top:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    }
    
    #back-to-top:active {
    transform: scale(0.9);
    }
    

    #map {
    height: 600px;
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin: 8%;
    margin-top: 1%;
    border-radius: 5%;
    border: 5px solid #03191e;
    }

    .city-label {
    font-size: 10px;
    font-weight: bold;
    background: rgb(0, 0, 0);
    border: 1px solid #ccc;
    padding: 1px;
    border-radius: 3px;
    }
    
    
    /* STYLE Of Header */
    header{
    background-color: #2d545e;
    color: white;
    font-size: large;
    border: solid 1px #333;
    border-radius: 1%;
    text-align: center;
    margin: 0;
    padding: 0.1%;
    width: 100%;
    box-sizing: border-box;
    }
    
    header h1{
    color: white(0, 0%, 99%, 0.98);    
    }

    .news-ticker {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    background: #e98459;
    color: rgb(11, 0, 0);
    padding: 1%;
    height: 15px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    }

    .news-ticker p {
    display: inline-block;
    padding: 1px;
    margin: 1px;
    font-weight: bold;
    }

    .news-ticker p a {
    color: rgb(75, 93, 196);
    text-decoration: none;
    }

    /******************************************************* STYLE Of NAVIGATION BAR */        
    nav {
    margin: 0.1% 0;
    text-align: center;
    width: 100%;
    }

    nav a {
    color: white;
    padding: 15px;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 20%;
    }

    nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    width: 100%;
    height: 2px;
    background-color: #2d545e;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    }
                
    nav a:hover{
    background-color: #afdae5;
    color: #03191e;
    border-radius: 10%;
    }

    nav a:hover::after {
    transform: translateX(0);
    }
        
    #left {
    float: left
    }
        
    #right {
    float: right
    }

    /******************************************************* STYLE Of News Navigation Bar */   
    .news-nav-wrapper {
    display: flex;
    background-color: #c7b10c; 
    border: 1px solid #c7b10c;
    border-radius: 1%;
    }
    
    .news-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    font-weight: bold;
    }

    .news-nav a {
    color: rgb(71, 71, 71);
    padding: 15px;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    line-height: 20%;
    }
    
    .dropdown {
    position: relative;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d2c66d;
    min-width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 5%;
    }
    
    .dropdown-content a {
    color: black;
    padding: 5%;
    margin: 10%;
    display: block;
    text-decoration: none;
    }
    
    .dropdown-content a:hover {
    background-color: #ddd;
    }
    
    /* Show the dropdown on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    }        
    
    /* ****************************************************** STYLE Of FOOTER */
    footer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    background-color: #2d545e;
    color: white;
    text-align: center;
    position: relative;
    border: solid 1px #333;
    border-radius: 1%;
    bottom: 0;
    padding: 10px;
    margin-top: 10%;
    width: 100%;
    box-sizing: border-box;
    }

    .footer-wrapper-left {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-right: 10%;
    }

    .footer-wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-left: 10%;
    }
    
    .footer-wrapper-left-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    }

    footer img {
    transition: transform 0.3s ease-in-out;
    }

    footer img:hover {
    transform: scale(1.5);
    }

    footer p{
    color: white; 
    text-decoration: none; 
    }
    
    footer a {
    color: white; 
    padding: 10px;
    text-decoration: none; 
    }
    
    footer .footer-wrapper-left a:hover {
    background-color: #afdae5;
    color: #03191e;
    border-radius: 15%;
    }
    
    footer .footer-wrapper-right a:hover {
    color: #03191e;
    }

    footer nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the links horizontally */
    }
    
    footer nav a {
    margin: 5px 0; /* Adding some space between the links */
    }

    footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
        
    footer form label {
    margin-bottom: 10px;
    color: white;
    }
        
    footer form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    }
        
    footer form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

    footer form button:hover {
    background-color: #555;
    }
    
    
    /************************************************************* STYLE Of FORMS */

    .container form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 80vh; /* Full viewport height */
    gap: 10px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 25px;
    background-color: #ced0d0;
    width: 400px; /* Optional: limit the maximum width of the form */
    }
    
    #user-form {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    }
    
    #admin-form {
    margin-left: 70px;
    margin-bottom: -100px;
    }
    
    #user-form .container {
    padding-left: 400px;
    margin-bottom: -100px;
    }
        
        
    .container form label {
    margin-bottom: 5px;
    font-weight: bold;
    }
        
    .container form input,
    .container form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    }
        
    .container form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    }
        
    .container form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
        
    .container form button:hover {
    background-color: #555;
    }
    


    /********************************************************** STYLE Of FLEX SLIDER */

    .home-slider {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    padding: 1%;
    height: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    }

    .home-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    width: 60%;
    height: 90%;
    }

    .home-slider #home {
    width: 100%;
    padding: 1%;
    min-height: 80%;
    border-radius: 5%;
    background-color: #eae7e297;
    border: 1px solid #2d545e;
    }
        
    .home-slider img {
    max-width: 90%;
    margin: 0% auto;
    border-radius: 5%;
    padding: 1%;
    background-color: #2d545e;
    }

    /********************************************************** STYLE Of Weather Widget */
    #weather-forecast {
    width: 30%;
    height: 100%; 
    border-radius: 5%;
    margin-left: 8%;
    align-items: stretch;
    justify-content: center; 
    text-align: center; 
    }

    .weather-wrapper {
    padding: 5%;
    background-color: #eae7e27e;
    border-radius: 5%;
    border: 1px solid #2d545e;
    }

    .weather-widget {
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    padding: 1%;
    animation: bounce 3s infinite ease-in-out;
    }

    @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
    }

    .weather-info {
    display: block;
    align-items: stretch;
    justify-content: center;
    min-height: fit-content;
    max-width: 45%;
    background-color: #eaeaea51;
    border-radius: 5%;
    border: 1px solid #2d545e;
    margin: 1%;
    margin-left: 25%;
    margin-top: 13.5%;
    transition: transform 0.5s ease-in-out;
    }

    .weather-info:hover {
    transform: scale(1.05);
    }
        
    .weather-widget h4 {
    border-radius: 5%;
    font-size: 24px;
    font-weight: bold;
    color: #780d0d;
    }

    .flexslider p,
    .weather-block p,
    .weather-info p {
    color: #333;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 1%;
    }

    /********************************************************** STYLE Of WEATHER PAGE SLIDER */
    .weather-slider {
    width: 95%;
    height: 400px;
    margin: 1%;
    margin-top: 5%;
    padding: 0;
    background-color: #eaeaea1e;
    }

    #weather-slides {
    overflow: hidden;
    margin: 1%; 
    margin-right: 15%;
    padding: 1%; 
    width: 95%;
    height: 70%;
    background-color: #eaeaea1e;
    }

    .widget-wrapper {
    background-color: #261616c1;
    }


    .weather-widget-weatherpage {
    display: flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 1%;
    padding: 1%;
    background-color: #0900001c;
    }

    .weather-info-weatherpage{
    display: flex;
    float: left;
    flex-direction: column;
    align-items: center;
    height: 50%;
    width: 20%;
    background-color: #eae7e297;
    border-radius: 5%;
    border: 1px solid #2d545e;
    }
    
    
    /************************************************************** STYLE Of Containers & NEWS BLOCKS */
    .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a single column */
    grid-template-rows: repeat(2, 1fr); /* Create two rows */
    grid-gap: 20px; /* Add space between the grid items */
    height: calc(100vh - 50px); /* Full viewport height minus the header and footer */
    padding: 32px;
    margin: 20px;
    margin-bottom: 10%;
    }

    .container-wrapper {
    margin-bottom: 10%;
    }
    
    .news-block {
    background-color: #eae7e297;
    border: 1px solid #ccc;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5%;
    height: 450px;
    min-height: fit-content;
    width: 390px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    }

    .news-block:hover {
    transform: scale(1.08);
    box-shadow: 0px 4px 10px rgba(103, 101, 101, 0.147);
    }

    .container #bold {
    font-weight: bold;
    }

    .container #lighter {
    font-weight: lighter;
    }
    
    .news-block img {
    width: 100%;   
    border-radius: 25px; 
    }

    .news-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    }

    .news-links a:hover {
    background-color: #afdae5;
    border-radius: 20%;
    }

    .news-block a {
    color: #328194;
    text-decoration: wavy;
    padding: 5%;
    }

    .toggle-link {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #007BFF;
    }

    .toggle-link:hover {
    text-decoration: underline;
    }

    .hidden {
    display: none;
    }

    .contact-info, 
    .container #contact p {
    text-align: center;
    text-overflow: ellipsis;   
    font-size: large;
    color: rgb(251, 251, 251);
    }

    #contact {
    border: 2px solid #ccc;
    border-radius: 25px;
    }
            
    
    /* Accessibility Style */
    .accessibility-mode {
    background-color: rgb(78, 77, 77);
    color: white;
    }
    
    .accessibility-mode a {
    color: rgb(234, 234, 239); /* Adjust link color for better visibility */
    }
    
    .accessibility-mode header,
    .accessibility-mode footer,
    .accessibility-mode form,
    .accessibility-mode .news-nav,
    .accessibility-mode .news-nav .dropdown-content,
    .accessibility-mode .container #contact p,
    .accessibility-mode .container .contact-info p,
    .accessibility-mode .news-block,
    .accessibility-mode .flexslider .slides,
    .accessibility-mode .flexslider p,
    .accessibility-mode .weather-block,
    .accessibility-mode .weather-wrapper,
    .accessibility-mode .weather-block h2 {
    background-color: rgb(54, 52, 52);
    color: white;
    }

    .accessibility-mode .news-links a {
    color: rgb(255, 255, 255); 
    background-color: rgb(54, 52, 52);
    }


    .accessibility-mode .news-ticker a:hover {
    background-color: rgba(10, 1, 1, 0);
    }

    .accessibility-mode .news-links a:hover {
    background-color: rgb(66, 119, 193);  /* Adjust link hover color for better visibility */
    }

    .accessibility-mode a:hover {
    background-color: rgb(227, 237, 251);  /* Adjust link hover color for better visibility */
    }
    
    .accessibility-mode .flexslider .slides img {
    filter: brightness(0.5); /* Adjust image brightness for better contrast */
    }